[2018-07-05 18:22] proubatsis opened #2 "Content Review"
**What you'll learn?**

* I'll be learning about Arquillian, but why do I want to learn about it? What is it and why should I be interested?

**Try what you’ll build**

* Gradle did not work for me

![image](https://user-images.githubusercontent.com/8409464/42340745-d4646980-805e-11e8-8f54-59979849fc6c.png)

**Configuring your test build**

* We don't typically use partial files, we provide the en

[2018-07-10 19:12] chyt commented on #2
Are you running on an older version Java 7? @evelinec is aware of an issue with Maven artifacts downloading on Java 7. They are working on a solution.

I do show some sample test output:

[code]

The reason I do not show the entire output is because it is very different depending on whether you are running Maven and Gradle. But the part that I reproduced above is common and it is the most importan

[2018-07-10 19:32] proubatsis commented on #2
@chyt

---

No I am running Java 8, the output of `java -version` for me is:
[code]
---

Sorry, I was unclear. We typically show this output as well:

[code]

---

**Acrolink**

I am not too sure how strict the policy on the minimum score of 70 is, can you give your view on this please @evelinec ?

[2018-07-11 15:40] chyt commented on #2
@evelinec @Ahmad-Ayyoub Can you add Travis integration for this project so that we can see if this issue exists on Travis? I have not seen it.

As I said before, we do not show that section of the output since it is specific to Maven. I do say that they should see a build success message though, indicating that the tests have passed. This is effectively the same thing.

[2018-07-12 17:52] evelinec opened #3 "More review"
- [x] The `:page-permalink: /guides/rest-service` is not used correctly, so the guide is unable to show up on the test site.

- [x] The title of the guide is long.

[2018-07-12 19:16] evelinec commented on #2
Re Acrolink, did you try fixing some of the issues raised and then re-run the check? @proubatsis or @chyt

[2018-07-12 19:17] evelinec commented on #2
Re setting up automated test for this repo, we will arrange it. @chyt

[2018-07-24 19:01] andrewdes opened #4 "Review"
**General**
* Description is basically just a mirror of the title
* Entire files should be used, not just partial code snippets
* Directory structure is incorrect. Visit Project Structure section in following wiki: https://github.com/OpenLiberty/draft-guides-template/wiki/Guidelines-for-Structure-and-Styles

**What you'll learn?**
* This section should be expanded. Perhaps include what Arquillian

[2018-08-07 20:39] evelinec commented on #3
Verified the fix, closed.

[2018-08-07 20:39] #3 closed

[2018-08-07 20:42] evelinec commented on #2
Where reasonably recommended by Acrolink and if they are fixed, it'd be good with the score. @proubatsis can you verify all the other items are fixed for this issue? Thanks.

[2018-08-17 05:10] chyt commented on #4
[code]
As I've previously mentioned, I did not do this because console output is significantly different between Maven and Gradle.

[code]
This is basically a hello world Arquillian guide so I think the message is appropriate.

[code]

Setting dependency version as `RELEASE` is not supported starting with Maven 3. The `assemblyArtifact` config binds to `ArtifactItem`, which is an internal Maven ob

[2018-08-22 14:59] proubatsis commented on #2
@evelinec @chyt
* Entire files should be provided, no partial files.
* This path does not exist `src/test/java/org/arquillian/example` in the start directory
* Gradle not working for me

[2018-08-22 15:36] andrewdes commented on #4
Just to clarify what I meant by this issue, the guide currently has the following:

[code]

Perhaps this would work better with something such as:

[code]

This might be better to avoid confusion as to what is being displayed in the code block. The way it is currently written, it may be may be unclear as to whether the code block is the console output displaying that the test has passed or the mes

[2018-08-22 16:07] chyt commented on #4
Ok I see, I will reword the first point. As to the second point, I'm not really directing the users to the app, instead I want them to confirm that they see that an application has started at that endpoint from the console.

[2018-08-22 19:38] andrewdes commented on #4
Oh alright, I understand now. The way I interpreted the sentence was that the test application is available at `http://localhost:9080/test/` so I clicked the link, only to be lead to "This site can't be reached."

Perhaps this sentence could be reworded in such a way that it avoids confusion. I am worried that people  may read that the application is deployed and available and try to follow the li

[2018-08-24 17:57] evelinec opened #6 "Content review"
- [x] Not sure the word "Managed" needs to be camel cap'ed
- [x] Add more content to the intro
- [x] Address the structure and style for the content to be consistent with the new UI design as well as other guides
- [x] fix travis.yml and enable automation to be consistent with other guides
- [x] minimize the use of future tense and passive voice

[2018-08-28 17:45] chyt commented on #2
Addressed these issues.

[2018-08-28 18:56] evelinec commented on #2
@proubatsis can you review all the changes and follow up. Thank you.

[2018-08-28 21:12] chyt commented on #4
Regarding the second point, I changed the phrase `deployed and available` to just `deployed`. Maybe this will be less encouraging to the user to actually go and visit that endpoint? Not sure how else to rephrase this without explicitly telling them *not* to visit the endpoint, which sounds kind of weird.

[2018-08-28 21:13] chyt commented on #6
Sorry, what does "camel cap'ed" mean?

[2018-08-31 14:53] proubatsis commented on #2
All of the points have been fixed except for:

Here's a screenshot of what I mean for reference:
![image](https://user-images.githubusercontent.com/8409464/44919713-1b0f4b00-ad0c-11e8-9439-4c3c8342e6e3.png)

The entire pom file should be displayed in the guide rather than just snippets.

[2018-09-26 20:34] justineechen opened #8 "Review"
**Configuring your test build**
- [x] It may be useful to tell the user to "Navigate to `start` directory" ... and then to modify the `pom.xml`
- [x] Normally in OL guides, we ask users to create the entire file so it's easy for them to copy and paste. And then later on, we explain the important parts within the file rather than have them copy and paste bits into the file. For `pom.xml` and `build

[2018-09-27 13:49] justineechen commented on #4
I looked over the feedback you addressed and changed the rest into check boxes so the changes can be tracked easily.

**General**

- [ ]  Description is basically just a mirror of the title
- [ ]  Entire files should be used, not just partial code snippets
- [ ]  Directory structure is incorrect. Visit Project Structure section in following wiki:

https://github.com/OpenLiberty/draft-guides-templa

[2018-11-06 21:47] gkwan-ibm opened #10 "Gilbert's comment"
- [x] Time should not be 30 min long
- [x] Need to explain what is Arquillian
- [x] maven and gradle instruction should be presented separately
- [x] following statement sound weird. Why testing in between start and stop server?
```Between the server start and stop messages, you will see the following console output indicating that your test has passed.```
- [x] pom.xml should be formatted properl

[2018-11-08 19:04] evelinec commented on #10
The remaining 3 points are not addressed based on our discussion for now.

[2018-11-08 19:52] gkwan-ibm opened #12 "Revisit the content"
To make the guide more attractive to the OL community, the guide should teach and show how to use Arquillian to test microservice.

An idea is to take an existing microservice guide, refactor its tests to use Arquillian.

[2019-01-11 16:38] evelinec commented on #12
Addressed in #15

[2019-01-11 16:39] evelinec commented on #10
Addressed in #15

[2019-01-11 16:40] evelinec commented on #8
@justineechen can you review the latest guide and let me know if there're any issues? Otherwise, close this one. Thanks.

[2019-01-11 16:41] #6 closed

[2019-01-11 16:42] evelinec commented on #4
@andrewdes while you reviewing the latest guide, can you verify that the issues you raised here are addressed? If not, point those out. Thanks.

[2019-01-11 16:43] evelinec commented on #2
All issues addressed.

[2019-01-11 16:43] #2 closed

[2019-01-11 16:43] #12 closed

[2019-01-11 16:43] #10 closed

[2019-01-11 20:06] andrewdes opened #16 "Peer Review - 01/11/2019"
### Checklist

- [x] Working instruction and sample code
- [x] Quality of code (best coding practices)
- [ ] Quality and presentation of guide according to Structure and Style Guideline
- [ ] Consistency of guide with template and other guides
- [x] Examples with the right outcomes are provided
- [x] Example with the wrong outcomes, if any, are provided
- [x] Check that all licensing statements ar

[2019-01-11 20:09] andrewdes commented on #4
@evelinec the feedback above that is still relevant and has not been changed will be reflected in the points listed here: https://github.com/OpenLiberty/draft-guide-arquillian-managed/issues/16

[2019-01-11 20:09] #4 closed

[2019-01-14 18:18] evelinec commented on #16
Thank you @andrewdes for checking the guide again! Will take care of the rest. Thanks.

[2019-01-14 19:25] gkwan-ibm opened #18 "Gilbert's feedback"
- [x] All license years should be either `2017, 2019` or `2019`
EC: actually only mark the license with the year 2019 when the file is newly created. ie, the test classes. I don't touch any of the files for the microservices.
- [x] SystemData misses the copyright section
EC: Fixed. It was missing from the CDI-Intro guide.
- [x] the System.out.println are not necessary in the tests
- [x] the follow

[2019-01-14 19:38] evelinec opened #19 "Need a way to report build and jdk info after ci test"
Since this guide doesn't generate the `console.log`, the usual way to get the build and jdk info after the ci test doesn't work. Need to find another way to do this.

cat target/liberty/wlp/usr/servers/ArquillianManagedServer/logs/
messages.log  state/
evelines-mbp:finish evelinec$ cat target/liberty/wlp/usr/servers/ArquillianManagedServer/logs/messages.log
****************************************

[2019-01-16 17:29] chyt opened #20 "Feedback"
- What you’ll learn
    - Link to https://github.com/OpenLiberty/liberty-arquillian/tree/master/liberty-managed
    - “features in the Liberty plugin that simplifies the process” -> “features in the Liberty Maven Plugin that simplify the process”
    - Second paragraph - need to clarify that Arquillian is a JUnit runner and the test components are actually JUnit components, not Arquillian componen

[2019-01-16 20:07] evelinec commented on #20
Addressed everything except for this one:
- In the deployment, simplify by just specifying packages instead of each class individually

I think it's clearer to list all the classes as an intro guide.

PR will be submitted soon.

[2019-01-17 14:53] evelinec opened #22 "Reminder issue to add the gradle build content"
Gradle build content is saved in the "gradleBuildContent" branch.

[2019-01-17 14:53] evelinec commented on #20
@chyt can you review the fixes for this issue and let me know if there's anything? Thanks.

[2019-01-17 14:55] evelinec commented on #18
Issue #22 created to handle gradle for the future.

[2019-01-17 14:55] evelinec commented on #18
@gkwan-ibm can you review the fixes for this issue and let me know if there's anything? Thanks.

[2019-01-17 14:55] evelinec commented on #16
@andrewdes can you review the fixes for this issue and let me know if there's anything? Thanks.

[2019-01-17 15:30] evelinec commented on #16
Automation test is working for this guide and had tested the latest dev build: https://travis-ci.org/OpenLiberty/draft-guide-arquillian-managed/builds/480921082

[2019-01-17 17:25] gkwan-ibm commented on #18
- [ ] can separate the section to describe the plugins `org.apache.maven.plugins` and `net.wasdev.wlp.maven.plugins` into 2 paragraphs? Now the combined is a bit long
- [ ] avoid to use `<version>[17.0.0.4,)</version>`
- [ ] for the following paragraph, please add `<feature>servlet-xxx</feature>` into the server.xml,  which I didn't add before because I am not aware the servlet feature is required

[2019-01-17 17:48] andrewdes commented on #16
I read through the guide again and I am ok with the fixes made and the explanations provided above for not making certain changes. However, I do still have the following feedback:

- [ ] "The code for the microservices are provided to you under the src/main/java/io/openliberty/guides directory" -> The code for the micro services is provided for you in the src/main/java/io/openliberty/guides direct

[2019-01-17 19:46] evelinec commented on #18
The first two points were discussed but no change. About describing SystemIT, it's the same as InventoryIT in terms of Arquillian tests.

[2019-01-17 19:49] evelinec commented on #16
Fixed.

[2019-01-17 19:56] justineechen commented on #8
Thank you! My points from above have been addressed.
Is there a better wording for the hyperlink "complete documentation" in `Configuring Arquillian with Liberty`?

[2019-01-17 20:02] chyt commented on #20
- What you’ll learn
    - “Arquillian tests are very similar to the common unit tests, however, Arquillian sets up the test environment and is able to handle the application server life cycle for you, so you can focus on writing tests.” - This is a run-on sentence, should be broken up into two sentences. Also not sure if saying that Arquillian is similar to “common unit tests” since you can use Ar

[2019-01-17 20:33] #16 closed

[2019-01-17 20:33] #18 closed

[2019-01-17 20:46] evelinec commented on #20
Point not handled yet:
- [ ] I do not believe using “RELEASE” for a parent dependency is valid - see https://stackoverflow.com/a/1172371/634324
EC: The team will determine and handle this all together in multipane.

[2019-01-17 21:30] #8 closed

[2019-01-18 14:51] evelinec opened #25 "Fixing the RELEASE keyword used in the parent pom"
From @chyt: I do not believe using “RELEASE” for a parent dependency is valid - see https://stackoverflow.com/a/1172371/634324
EC: The team will determine and handle this all together in multipane.

[2019-01-18 14:51] evelinec commented on #20
Opened #25 for the one point that didn't addressed here. Close this issue.

[2019-01-18 14:51] #20 closed

[2019-01-18 14:57] yeekangc commented on #25
Maven doesn't have support for version ranges straight in all the needed places.  Yes, some of these have been deprecated.  Then, there isn't a clean solution yet.  We will update as appropriate.

[2019-01-18 15:37] evelinec opened #26 "User testing checklist"
- [ ] Record the time it takes to go through the entire guide
- [ ] Test each step in the guide is clear to understand
- [ ] Ensure no logic errors
- [ ] Resolve anything that does not work
- [ ] Resolve anything usability issues (confusing or hard to follow)
- [ ] Achieve basic understanding/working knowledge of the topic in the guide

[2019-01-18 18:45] Rachelwrq opened #27 "User Guide Review"
#### Time: 15 minutes

#### Running the tests
- [ ] Don't know if this is necessary but most of the guide I reviewed have test result in this section; might want to ad it for consistency.

### User Testing Checklist
- [ ] Record the time it takes to go through the entire guide
- [ ] Test each step in the guide is clear to understand
- [ ] Ensure no logic errors
- [ ] Resolve anything that does not

[2019-01-18 19:22] evelinec commented on #27
This guide is different than the other guides in terms of the test results. The expected results were described in text, but no meaningful results can be shown.

[2019-01-18 19:22] evelinec commented on #27
Thank you for your review and testing! @Rachelwrq

[2019-01-24 18:26] lauracowen opened #30 "Review feedback"
I reviewed the intro mainly (not the rest in detail). /cc @yeekangc

I think the intro is trying to say too much without enough focus:

- [ ] " using the Arquillian Liberty Managed container and JUnit with Maven in Open Liberty" Should this be " using the Arquillian Liberty Managed container with JUnit and Maven in Open Liberty"? I was a bit confused about what JUnit was contributing because it sa

[2019-01-29 20:46] evelinec commented on #30
Regarding this point:
- [ ]  " using the Arquillian Liberty Managed container and JUnit with Maven in Open Liberty" Should this be " using the Arquillian Liberty Managed container with JUnit and Maven in Open Liberty"? I was a bit confused about what JUnit was contributing because it says "and" as if JUnit was doing something equivalent to Arquillian. Yet, JUnit is there just to run the Arquillian

[2019-01-29 21:05] evelinec commented on #30
About the Structure question:

- [ ] Is it really necessary to do all the configuration before you can even start to write the Arquillian tests? Wouldn't it be possible to write the first test, then configure Arquillian to run in Liberty so that it can be run, then do the rest (or do you end up with loads of errors when writing the tests?)? Or some variant of this so that the reader doesn't have t

[2019-02-05 20:14] evelinec commented on #30
@lauracowen can you review the changes in the latest test site?

[2019-02-08 18:29] justineechen opened #35 "Multipane feedback"
- [x] In `Try what you'll build`, we usually don't say `cd finish` in the command I think it's generally described in the sentence above that command to ask users to go to the finish directory
ex. https://qa-guides-multipane.mybluemix.net/guides/microprofile-openapi.html#getting-started
- [x] In `Developing Arquillian tests`, the two links: `http://localhost:9080/{WARNAME}/inventory/systems/{hostn

[2019-02-08 19:58] wojtczat opened #37 "User Review"
## What you’ll learn
- [x] "Arquillian test sets up the test environment" Is Arquillian Test supposed to be a proper noun? if so the t should be capitalized
## Developing Arquillian tests
- [x] "The ShrinkWrap test archive’s contents" this is not friendly to read so I would recommend rewording this
- [x] "The endpoint test case first calls the http://localhost:9080/{WARNAME}/inventory/systems/{hos

[2019-02-08 21:53] evelinec commented on #37
@wojtczat thank you for your review! The relevant changes are made and refreshed on the test site. Pls check it out and verify. Thank you.

[2019-02-08 21:54] evelinec commented on #35
@justineechen can you review the changes?

[2019-02-12 06:21] yeekangc opened #40 "Review feedback"
_What you’ll learn_
- [x] Arquillian Managed container vs Arquillian Liberty Managed container: Can we be consistent?  I lean toward Arquillian Manager container.  What's the difference between Arquillian Manager vs Arquillian Liberty Managed?
- [x] “Arquillian test sets up the test environment and is able to handle the application server life cycle for you” >> Arquillian sets up … We shouldn't ne

[2019-02-12 06:22] yeekangc commented on #40
@gkwan-ibm

[2019-02-13 15:53] evelinec commented on #25
There's an issue on guides-common to handle this for all guides, https://github.com/OpenLiberty/guides-common/issues/200. Close this one.

[2019-02-13 15:53] #25 closed

[2019-02-13 16:54] wojtczat commented on #37
Looks good Eveline!

[2019-02-13 16:54] #37 closed

[2019-02-15 13:40] #35 closed

[2019-02-15 15:25] gkwan-ibm commented on #40
For the following paragraph,
- All of the packages in this service must be added to the web archive; otherwise, the code compiles successfully but fails at runtime when the injection of the testing resource class takes place. You can learn about the ShrinkWrap archive configuration in the Arquillian guide.

Before the work ShrinkWrap, no description about what it is, so as I am a reader, it may co

[2019-02-15 17:08] gkwan-ibm commented on #40
For the following paragraph in the "Configuring Arquillian with Liberty" section,
- You also need the `arquillian-liberty-managed-junit` dependency bundle and the Arquillian `shrinkwrap-api`. The dependency bundle includes all the core dependencies for running Arquillian tests on a managed Liberty container using JUnit. You can learn more about the **Arquillian Liberty dependency bundles**. The Sh

[2019-02-15 17:11] gkwan-ibm commented on #40
For the following:
- Finally, you need the maven-failsafe-plugin to run your Arquillian integration tests using JUnit.
 You also need the liberty-maven-plugin configuration ...

The "Finally" is not really a final need.

[2019-02-15 17:18] gkwan-ibm commented on #40
For the following:
- You can learn more about the configure-arquillian goal in the documentation.

I would suggest to change the word documentation as ...
- You can learn more about the configure-arquillian goal in the **WASdev/ci.maven document**.

[2019-02-15 17:29] gkwan-ibm commented on #40
For the "Configuring the server.xml" section, if don't want to modify the server.xml, I prefer either to replace the server.xml or provide the server.xml, then explain the Arquillian required features (do something as the pom.xml)

[2019-02-15 19:46] gkwan-ibm commented on #40
Replace is ok to me but not create

[2019-02-16 03:18] yeekangc commented on #40
Doesn't mean that we have to create or replace.  We should write it in a way that call out and inform users what they need to do.  We didn't.

[2019-02-20 21:42] yeekangc commented on #40
@evelinec @gkwan-ibm

**Must fix**
```The method annotated by @Deployment defines the content of the web archive, which is going to be deployed to Open Liberty and the tests are run on or against the server. The testable = true attribute enables the deployment to run in-container tests, which means the tests are run against the server.```
Consider something like "The `@Deployment` annotated block

[2019-02-25 16:40] evelinec opened #46 "Readiness checklist"
Readiness checklist

* [x]  Development - Charles, Eveline
* [x]  Content Review - Eveline
* [x]  Peer Review - Gilbert, Andrew
* [x]  SME Review - Charles
* [x]  User Review - Tommy, Rachel
* [x] Multipane Review - Justine
* [x]  Signoff Review - YK

[2019-02-26 15:17] yeekangc commented on #40
```The @ArquillianResource annotation is used to retrieve the http://localhost:9080/arquillian-managed/ base URL for this web service. The annotation provides the host name, port number and web archive information for this service, so you don’t need to hardcode these values in the test case. Notice the arquillian-managed WAR name that was specified in the web archive, it’s needed when the inventor

[2019-02-26 16:17] evelinec commented on #40
@yeekangc Addressed the above comment in #48. Can you pls take a look? Thanks.

[2019-02-28 15:49] evelinec opened #49 "Pre-Publishing Tests"
Pre-Publishing Tests

- [x] Check appearance (contents, headings, paragraphs, code snippets, outputs, links, hotspots) of the guide on test site, ie, qa-guides
- [x] Read through the guide
- [x] Clone repo and test finish directory with no error
- [x] Run `diff -r start/ finish/`
- [x] Follow the instruction in the guide to test that it is working
- Use the `copy` buttons instead of typing
- [x] C

[2019-03-01 16:56] andrewdes commented on #49
Pre-Publishing Tests

- [ ] Check appearance (contents, headings, paragraphs, code snippets, outputs, links, hotspots) of the guide on test site, ie, qa-guides
- [ ] Read through the guide
- [ ] Clone repo and test finish directory with no error
- [ ] Run `diff -r start/ finish/`
- [ ] Follow the instruction in the guide to test that it is working
- [ ] Use the `copy` buttons instead of typing
- [

[2019-03-01 17:16] evelinec commented on #49
Addressed all feedback except for the test output. I checked both the libertydev and qa test sites, the test output isn't copyable.

[2019-03-01 17:16] #46 closed

[2019-03-01 17:17] evelinec commented on #40
@yeekangc can we close this issue? Thanks.

[2019-03-01 17:18] evelinec commented on #30
All of these feedback had been re-verified. Close issue.

[2019-03-01 17:18] #30 closed

[2019-03-01 21:33] evelinec commented on #49
@andrewdes confirmed that there's no copy button for the test output. Closed.

[2019-03-01 21:33] #49 closed

[2019-03-04 14:19] evelinec opened #51 "ID review feedback"
Hi!
Here are my review comments for the guide. If you have any questions, feel free to sametime me or slack me.

Global change: Make sure that you are using the name of the container consistently. You might be referring to two containers, the more general "Arquillian managed container" and the Liberty version of the container-  the "Arquillan Liberty managed container". If they are two different c

[2019-03-04 14:38] evelinec commented on #51
About the follow point, "Arquillian managed container" is the generic term for managed container type of Arquillian tests. The "Arquillian Liberty Managed container" is the Liberty adopter to do "Arquillian managed container" testing. They're essentially the "same" managed container. The capitalized word "Managed" was only used when the term "Arquillian Liberty Managed container" is used, as that'

[2019-03-04 16:07] #40 closed

[2019-03-04 16:13] yeekangc commented on #51
@chirp1 ^^^

If we need to pick, I lean toward using "Arquillian managed container" and where necessary, we qualify it as "Arquillian managed container for Liberty".

We can have an instance of "Arquillian Liberty Managed container" in the SEO description if appropriate.

[2019-03-04 18:43] evelinec commented on #51
Some comments about the following feedback:

Change "To try running the finished " to "To run the finished ".
=> changed to the common adoc way. We really want to show that this is a "try" section. Getting rid off the word "try" is as intuitive.

Change "You should see the console output indicating that your build is successful and the tests have passed. " to "In the console output, search for an

[2019-03-06 17:00] evelinec commented on #51
@gkwan-ibm can you review this ID feedback PR and responses to some of them? Thanks.

[2019-03-07 21:20] evelinec opened #53 "Publishing tasks"
Publishing Tasks

- [x] Rename the guide repo
- [x] Request to refresh openliberty.io site
- [x] Add a tag by creating a new release for this repo with name "1st-release"

[2019-03-07 21:20] evelinec opened #54 "Post-Publishing Tasks"
Other post-publishing tasks (to be done by the Admin Team)

- [x] Add description for the repo with link to guide's published website
- [x] Ensure automated test using Travis, see [instruction](https://github.ibm.com/was-liberty/openliberty-guides-team/wiki/Automation-Tests-For-OpenLiberty-Guides#setup-travis-ci-tests-for-openliberty-guides)
- [x] Enable pull creation notification on the repo for

[2019-03-08 15:16] #51 closed

[2019-03-08 15:52] evelinec opened #55 "Post-publishing tests"
Post-Publishing Tests

- [x]  Check appearance (contents, headings, paragraphs, code snippets, outputs, links) of the guide on openliberty.io
- [x]  Clone repo and test finish directory with no error

[2019-03-08 17:52] #55 closed

[2019-03-08 18:48] #53 closed

[2019-03-08 18:48] #54 closed

[2019-03-18 13:28] javabean68 opened #59 "tools.jar 1.6"
Hi,

I'm trying your example on the arquillian Integration but something seems wrong after importing the Project in Eclipse. I get the maven error:

Missing artifact com.sun.tools.jar 1.6.0 with scope System. If I see  in the dependency tree pom.xml dependencies I find it comes through:

arquillian-liberty-managed-junit: 1.1.3 [test]
|
|----arquilian-liberty-managed: 1.0.3 [test]

What am I doing

[2019-03-18 17:52] andrewdes commented on #59
Hello @javabean68,

What version of Java and what version of Maven are you using?

[2019-03-18 18:09] chyt commented on #59
Hi, can you make sure that your Eclipse configuration is pointing to the JDK and not the JRE? The `tools.jar` is only available in the JDK.

[2019-03-19 09:07] javabean68 commented on #59
H Charles,
Thank you for your email.

Te maven Project compiles without Problems. I find it very nice as all the
other example in this openliberty.io site.
The only Problem I noticed is with eclipse:
[image: image.png]
that's to say:
[image: image.png]
[image: image.png]

I'm using the JDK 1.8, Maven 3.3.9, eclipse-jee-2018-09-> the dependency is
how already said a System dependency and Comes from

[2019-03-19 11:30] yeekangc commented on #59
@javabean68, the images didn't attach properly.  Can you please re-post?

Tagging @gkwan-ibm so he is aware of this issue.

[2019-03-19 11:47] javabean68 commented on #59
Hi

sorry. I replied by email and die images weren't properly posted.

If I exclude the imported dependency is the Problem with eclipse away

Thanks
Regards
Fabio

[2019-03-19 11:59] javabean68 commented on #59
![Unbenannt03](https://user-images.githubusercontent.com/25293663/54604174-6d188380-4a46-11e9-81d8-60cf45e2db0e.PNG)
![Unbenannt02](https://user-images.githubusercontent.com/25293663/54604307-bb2d8700-4a46-11e9-8bba-ab1d98222357.PNG)

[2019-03-19 15:47] chyt commented on #59
I don't think the version `1.6` should matter if it is a system dependency. Are you using Windows or Mac? Can you verify that the location of the `tools.jar` in your JDK matches what the system dependency is trying to reference? We are looking for the JAR in `${java.home}/../lib/tools.jar`. For example, here is the location on my machine (JDK 1.8.0_131, Eclipse JEE 4.7.2, Maven 3.3.9):

<img width

[2019-03-19 16:17] chyt commented on #59
Also I'm confused how you are able to resolve the problem by excluding the `tools.jar` dependency. It is required in order to allow Arquillian to connect to the running Liberty server.

[2019-03-19 20:14] javabean68 commented on #59
Hi Charles

Couldn't be referenced a generic Tools.jar instead of the 1.6 one? Perhaps
giving the Version as property...

Bye
Fabio

Charles Y. Tian <notifications@github.com> schrieb am Di. 19. März 2019 um
17:17:

[2019-03-19 20:27] chyt commented on #59
Hi, as I said before I don't believe the version should matter. The dependency is referenced through the file system, so if the file exists in the path given by the `systemPath` parameter (`${java.home}/../lib/tools.jar`), then it should be resolved. I'm not exactly sure of the history of why that version is there, but I can look into it more. In the meantime could you please address my questions

[2019-03-19 21:59] javabean68 commented on #59
Hi Charles,
 you're right. It muss be an issue with Eclipse/JRE/JDK on Windows.

On Linux with Intellij I found no problems. Much ado for nothing! Sorry!!
It's the first time I see tool.jar explicitly referenced and I didn't
understand why. Thanks für the explanation.

Only another question. Why has the POJO SystemClient which is injected in
the @ApplicationScoped InventoryManager the Scope @Reque

[2019-03-19 22:01] javabean68 commented on #59
I would have expected @Dependent

Time to go to sleep :-)

Am Di., 19. März 2019 um 22:59 Uhr schrieb Fabio Salvi <safesfabio@gmail.com

[2019-03-20 01:25] yeekangc commented on #59
Re SystemClient, yes, that's an issue, @javabean68.  We are addressing with https://github.com/OpenLiberty/guide-cdi-intro/issues/82.

[2019-03-20 15:13] chyt commented on #59
Glad to help. Closing now, if you have any other unrelated follow-up questions feel free to open another issue.

[2019-03-20 15:13] #59 closed

[2019-06-03 15:18] evelinec opened #61 "New development requires latest arquillian"
Due to the new change made in the `localConnector-1.0` to have it not depend on internal JDK APIs. The `arquillian-liberty-managed-junit` dependency for this guide needs to be upgraded to the latest version, otherwise daily build tests are failing.

See https://github.com/OpenLiberty/open-liberty/issues/7542 for issue discussion and resolution detail.

Current build test status:
0531-0300 is the l

[2019-06-03 20:16] #61 closed

[2019-11-20 21:25] yeekangc opened #67 "Unresolved directive in README.adoc"
The published guide shows the below under "What you'll learn"

"Unresolved directive in README.adoc - include::https://raw.githubusercontent.com/OpenLiberty/guides-common/master/gitclone.adoc[]"

[2019-11-20 21:45] MaiHameed commented on #67
Same issue in the Maven guide, here: https://github.com/OpenLiberty/guide-maven-intro/issues/76

[2019-11-20 22:10] cherylking commented on #67
This is the standard directive for the git clone command in all the guides. Not a problem specific to this guide I think.

[2019-11-21 15:48] MaiHameed commented on #67
Fixed, closing.

[2019-11-21 15:48] #67 closed

[2019-12-19 17:03] evelinec opened #69 "Enable allowConnectingToRunningServer option"
In order to run this guide in dev mode (and since dev mode starts the app server), arquillian tests can be configured with the `allowConnectingToRunningServer` flag to connect to the running server and then run the test. Currently, this guide doesn't have this content. This issue is to determine whether to include this new content.

Step to run in dev mode:
1. Add the <allowConnectingToRunningServ

[2020-05-21 22:21] gkwan-ibm opened #71 "Convert to Dev mode"
- PR #68
- ideal pom
- use latest mp
- use jakartaee

pending on ci.maven fix

[2020-06-17 14:09] gkwan-ibm commented on #69
https://github.com/OpenLiberty/ci.maven/issues/848

[2020-06-17 14:43] gkwan-ibm commented on #71
- ready for review

[2020-06-18 14:46] gkwan-ibm commented on #71
- quick peer review test (hotspot, end-to-end)
  - Mac (Mai)
  - Linux (Griffin)
  - Win (Danny)

[2020-06-23 15:19] gkwan-ibm commented on #71
- next ID review

[2020-06-26 15:10] gkwan-ibm commented on #71
- addressed ID feedback

[2020-07-21 22:13] #71 closed

[2020-10-27 15:39] gkwan-ibm commented on #22
close
- it will be addressed by https://github.com/OpenLiberty/guides-common/issues/46

[2020-10-27 15:39] #22 closed

[2020-11-12 09:04] tsobe opened #91 "Usage clarifications"
Hello, please clarify the following items:
1. is it really needed to invoke liberty:deploy goal? Isn't Arquillian supposed to manage the deployment automatically?
2. actually 2 web modules are being deployed here, one is _guide-arquillian-managed_ (as configured in server.xml) and the second - _arquillian-managed_ (as specified in the ShrinkWrap). What is the intention here? Initially I thought, m

[2020-11-12 14:10] yeekangc commented on #91
Thank you, @tsobe.  We are investigating the issues.

@gkwan-ibm @kathrynkodama

[2020-11-12 20:34] gkwan-ibm commented on #91
hi @tsobe,

1. Yes, you are right that it is not necessary to invoke `liberty:deploy` goal. We will fix the guide and the application.
2. guide-arquillian-managed.war is generated by `liberty:deploy` which is for production. arquillian-managed.war is generated by the test.

The fix will work no matter the `liberty:deploy` goal is run or not.

[2020-11-12 21:50] kathrynkodama opened #93 "Add a "Try what you'll build" to the "Getting Started" section"
In other guides there is a "Try what you'll build" section to try out the finish directory before starting the guide. See https://openliberty.io/guides/rest-intro.html#try-what-youll-build

We should add this section to the Arquillian guide for consistency.

[2020-11-12 23:20] gkwan-ibm commented on #93
It will be reconsidered when `liberty:dev` or `liberty:run` can support arquillian better

[2020-11-18 19:32] gkwan-ibm commented on #91
close
- the guide was updated

[2020-11-18 19:32] #91 closed

[2020-11-25 18:27] gkwan-ibm commented on #19
close
- already fixed when migrate test to use Github action

[2020-11-25 18:27] #19 closed

[2021-03-18 16:33] yeekangc opened #98 "Unable to retrieve connector address for localConnector of started VM"
@chowdarysaichandPFG commented on [Thu Mar 18 2021](https://github.com/OpenLiberty/open-liberty/issues/16280)

**Describe the bug**
Tests described in the guide - https://openliberty.io/guides/arquillian-managed.html are failing with the error mentioned below.

**server.log**

product = Open Liberty 21.0.0.2 (wlp-1.0.49.cl210220210209-1100)
wlp.install.dir = C:/DEV/guide-arquillian-managed/finish/

[2021-03-18 16:33] yeekangc commented on #98
Moved to the guide's repo.  We will follow up there.

[2021-03-18 18:25] AustinSeto commented on #98
I tried recreating this error.

After clearing my `.m2` cache and killing a process that was running on port 9080, the error no longer occurred for me. I don't think there's a problem with the application code.

@chowdarysaichandPFG could you try to clear your `.m2` cache and killing any processes that might be running on port 9080, then seeing if the error still occurs?

[2021-03-18 19:33] chowdarysaichandPFG commented on #98
@AustinSeto Thanks for your response. I tried again clearing .m2 content and there are no processes running on 9080. However, I still see the same error.

[2021-03-18 20:57] AustinSeto commented on #98
Hi @chowdarysaichandPFG could you run `mvn failsafe:integration-test -e` and post the results so that more details can be collected on the errors to find their cause?

[2021-03-18 20:59] gkwan-ibm commented on #98
Hi @chowdarysaichandPFG
Before run `failsafe:integration-test`, would you also run `netstat` to make sure that 9080 is not being used?
- Not see `TCP    127.0.0.1:9080...` from `netstat`
- or cannot reach http://localhost:9080 by browser

[2021-03-18 21:12] gkwan-ibm commented on #98
I can only reproduce the same problem when the server under guide-arquillian-managed was started.

[2021-03-19 01:28] chowdarysaichandPFG commented on #98
Hi @gkwan-ibm,

Before running failsafe:integration-test:
![image](https://user-images.githubusercontent.com/79564591/111718615-46cd8e80-8880-11eb-90b1-add3dd14b946.png)

The port is not open at all.

While running failsafe:integration-test:
![image](https://user-images.githubusercontent.com/79564591/111718677-606ed600-8880-11eb-8f0b-ebd8934e3a33.png)

Server is launched and port is open
[AUDIT

[2021-03-19 01:34] chowdarysaichandPFG commented on #98
@AustinSeto here is the requested output.
$ **mvn failsafe:integration-test -e**
[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building guide-arquillian-managed 1.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-fa

[2021-03-19 13:41] chowdarysaichandPFG commented on #98
I tried several things today but nothing seem to work. Can you please highlight where I can see logs of WLPManagedContainer to see what is causing the issue?

In server/logs folder I see only messages.log but it doesn't contain any logs of the above class.

[2021-03-19 13:49] chowdarysaichandPFG commented on #98
I managed to get the full stack trace of the exception:

[ERROR] it.io.openliberty.guides.inventory.InventoryArquillianIT  Time elapsed: 32.31 s  <<< ERROR!
org.jboss.arquillian.container.spi.client.container.LifecycleException: Could not start container
        at io.openliberty.arquillian.managed.WLPManagedContainer.start(WLPManagedContainer.java:272)
        at org.jboss.arquillian.container.im

[2021-03-19 14:39] gkwan-ibm commented on #98
We are investigating.
I found some different between your log with mine.
Beside created the InventoryArquillianIT java file, did you update any other files? Would you mind to send them to us? Any other information may help us to diagnose.

[2021-03-19 15:54] AustinSeto commented on #98
After looking further into the issue, I found https://github.com/OpenLiberty/liberty-arquillian/issues/87 may be relevant. Perhaps something is going wrong with the `localConnector-1.0` feature? Maybe it doesn't install or get configured correctly? It looks like it should be installing in the logs posted, but I seem to be running into issues today as the error has begun occurring again for me toda

[2021-03-19 18:22] chowdarysaichandPFG commented on #98
Thanks @AustinSeto, let me know if you need any assistance from my side.

[2021-03-19 18:23] chowdarysaichandPFG commented on #98
@gkwan-ibm I did not make any changes to any files. Simply cloned and ran the maven commands.

[2021-03-22 15:21] AustinSeto commented on #98
Hi @chowdarysaichandPFG could you try out the changes on the `config-update` branch I made as part of the PR https://github.com/OpenLiberty/guide-arquillian-managed/pull/100 to see if they work for you?

The application was working for me before, but I'm not sure if the missing elements of the `server.xml` might have been causing trouble for you. Hopefully the addition of the missing elements reso

[2021-03-22 15:26] gkwan-ibm commented on #98
ie. `git clone https://github.com/openliberty/guide-arquillian-managed.git -b config-update`

[2021-03-22 15:59] chowdarysaichandPFG commented on #98
@gkwan-ibm - I tried the same but with no luck :( same error.

[INFO] Running it.io.openliberty.guides.inventory.InventoryArquillianIT
Launching defaultServer (Open Liberty 21.0.0.3/wlp-1.0.50.cl210320210309-1101) on Java HotSpot(TM) 64-Bit Server VM, version 1.8.0_161-b12 (en_US)
[AUDIT   ] CWWKE0001I: The server defaultServer has been launched.
[AUDIT   ] CWWKG0093A: Processing configuration dro

[2021-03-22 16:00] chowdarysaichandPFG commented on #98
@gkwan-ibm @AustinSeto - how/where can I see the logs of WLPManagedContainer? Can you help me with the configuration to see that in a file/console please.

[2021-03-24 15:13] gkwan-ibm commented on #98
@chowdarysaichandPFG

Do following to enable logs for WLPManagedContainer:
- create a properties file, e.g. jlog.properties with following content:
[code]
- add `<java.util.logging.config.file/>` in the pom.xml and update the path to where you create the jlog.properties file as following:
[code]
- run `mvn failsafe:integration-test`

The logs should be shown on the console or found at the arquilli

[2021-03-24 17:34] chowdarysaichandPFG commented on #98
Thanks @gkwan-ibm , I did and can see that only the following VM is identified by the VirtualMachine.list()

[24/03/2021 22:50:45.576 IST] io.openliberty.arquillian.managed.WLPManagedContainer findVirtualMachineIdByName FINER VMD id: 14684
[24/03/2021 22:50:45.577 IST] io.openliberty.arquillian.managed.WLPManagedContainer findVirtualMachineIdByName FINER RETURN
[24/03/2021 22:50:46.077 IST] io.ope

[2021-03-25 22:03] gkwan-ibm commented on #98
hi @chowdarysaichandPFG
If you don't mind, you can try the following experience:
- create a class
[code]
- compile it with classpath `%JAVA_HOME%\lib\tools.jar`
- `cd guide-arquillian-managed\start`
- `mvn clean`
- `mvn liberty:run`
- open another command prompt
- run the class ListVM with classpath `%JAVA_HOME%\lib\tools.jar`
- should see output like the following as which I got:
[code]

This exe

[2021-03-31 13:27] chowdarysaichandPFG commented on #98
@gkwan-ibm I tried the above but I see only the maven surefire VM, not the liberty VM as you mentioned. I'm using the oracle JDK and it has the tools.jar. I'm not sure what is wrong with it.

[2021-03-31 16:33] gkwan-ibm commented on #98
@chowdarysaichandPFG

Would you do the following to prove the localConnector from the openliberty server work or not?

- `cd guide-arquillian-managed\start`
- `mvn liberty:run`
- open another command prompt
- run `%JAVA_HOME%\bin\jconsole.exe`
  - assume `JAVA_HOME` pointing to your oracle JDK
- from the jconsole, do you see `ws-server.jar` at the Local Process list?
  - ![Screen Shot 2021-03-31 a

[2021-03-31 17:25] chowdarysaichandPFG commented on #98
@gkwan-ibm I don't see the ws-server.jar in the local process list even if that is running on another shell. I'm not sure why this is happening. However, the remote connection works, I see the graphs correctly.

[2021-03-31 19:53] gkwan-ibm commented on #98
@chowdarysaichandPFG
Similar issue as you at https://stackoverflow.com/questions/45053288/virtualmachine-list-returns-empty-list
Consider to try my suggestion in above to use other JDK.

[2022-08-22 20:18] gkwan-ibm commented on #98
close this issue because didn't get anymore comment

[2022-08-22 20:18] #98 closed